.wrapper {
    overflow-x: hidden;
}

html {
    font-size: 16px;
    color: #d6e3d0;
}

a {
    color: #d6e3d0;
    text-decoration: none;
}

body {
    background-color: #222733;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

#header {
    background-color: #525e65;
    padding-top: 10px;
}

.header__menu {
    display: flex;
    font-size: 24px;
    max-width: 350px;
    margin: 0 auto;
    justify-content: space-between;
}

.header__menu li {
    padding-bottom: 5px;
    border-bottom: 3px solid #525e65; 
}

.header__menu li:hover {
    transition: 300ms;
    border-bottom: 3px solid #73cca8;
}

.header__menu li:hover a{
    color: #73cca8;
}
